<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{WORKDIR}}/scripts/run_{{SERVICE_SLUG}}.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>{{WORKDIR}}</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>5</integer>

  <key>StandardOutPath</key>
  <string>{{WORKDIR}}/logs/{{LOG_BASENAME}}.launchd.log</string>

  <key>StandardErrorPath</key>
  <string>{{WORKDIR}}/logs/{{LOG_BASENAME}}.launchd.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>{{LAUNCHD_PATH}}</string>
    <key>HOME</key>
    <string>{{HOME_DIR}}</string>
    <key>USER</key>
    <string>{{USER_NAME}}</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
    <key>TERM</key>
    <string>xterm-256color</string>
  </dict>
</dict>
</plist>
